<%- include('./partials/header.ejs') %>

<form class="edit" method="POST" action="/villains/<%=villain.id%>?_method=PUT">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%=villain.name%>">

    <label for="age">Age</label>
    <input type="text" name="age" id="age" value="<%=villain.age%>">

    <label for="abilities">Abilities/Equipment</label> 
    <input type="textbox" name="abilities" id="abilities" value="<%=villain.abilities%>">

    <label for="bio">Biography</label>
    <input type="textbox" name="bio" id="bio" value="<%=villain.bio%>">

    <label for="nemesis">Nemesis</label>
    <input type="text"  name="nemesis" id="nemesis" value="<%=villain.nemesis%>">

    <input class="registerNew" type="submit" value="Save Changes">
</form>

<div class="links">
    
    <a href="/villains">
        <button class="link">Go Back</button>
    </a>

</div>
</body>
</html>