<%- include('./partials/header.ejs') %>
    
<div>
    <%= villain.name %>
   <img src="<%= villain.img %>">
    <%= villain.age %>
    <%= villain.abilities %>
    <%= villain.bio %>
    <%= villain.nemesis %>
</div>
<a href="/villains/<%=villain.id%>/edit">
    <button>Change Information</button>
</a>
<a href="/villains">
    <button>Go Back</button>
</a>
</body>
</html>