<%- include('./partials/header.ejs') %>

<div class="showPage">
<img class="show" src="<%= villain.img %>">

<div class="info">
    Name: "<%= villain.name %>" <br>
    <br>
    Age: <%= villain.age %> <br>
    <br>
    Powers/Arsenal: "<%= villain.abilities %>" <br>
    <br>
    Bio: "<%= villain.bio %>" <br>
    <br>
    Nemesis: "<%= villain.nemesis %>" <br>
    <br>
</div>

<div class="links">
<a href="/villains/<%=villain.id%>/edit">
    <button class="link">Change Information</button>
</a>
<a href="/villains">
    <button class="link">Go Back</button>
</a>
<form action="/villains/<%=villain.id%>?_method=DELETE" method="POST">
    <input class="link" type="submit" value="Terminate Member" />  
</form>
</div>
</div>

</body>
</html>